Repository YAPP-19th/Web-Team-2-Backend, pull requests merged in 2021-11, with the labels that each got.

#11 [#9] feat(폴더 API)
  build.gradle.kts
  src/main/kotlin/com/yapp/web2/domain/bookmark/entity/Urls.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/repository/BookmarkRepository.kt
  src/main/kotlin/com/yapp/web2/domain/folder/controller/FolderController.kt
  src/main/kotlin/com/yapp/web2/domain/folder/entity/AccountFolder.kt
  src/main/kotlin/com/yapp/web2/domain/folder/entity/Folder.kt
  src/main/kotlin/com/yapp/web2/domain/folder/repository/FolderRepository.kt
  src/main/kotlin/com/yapp/web2/domain/folder/service/FolderService.kt
  src/main/kotlin/com/yapp/web2/domain/user/entity/Account.kt
  src/main/kotlin/com/yapp/web2/exception/ErrorResponse.kt
  src/main/kotlin/com/yapp/web2/exception/custom/FolderNotFoundException.kt
  src/main/kotlin/com/yapp/web2/util/Message.kt
  src/test/kotlin/com/yapp/web2/domain/folder/service/FolderServiceTest.kt
Labels: Folder

#13 [#9] feat(폴더 API)
  src/main/kotlin/com/yapp/web2/domain/folder/controller/FolderController.kt
  src/main/kotlin/com/yapp/web2/domain/folder/entity/Folder.kt
  src/main/kotlin/com/yapp/web2/domain/folder/repository/FolderRepository.kt
  src/main/kotlin/com/yapp/web2/domain/folder/service/FolderService.kt
  src/main/kotlin/com/yapp/web2/domain/notification/entity/Notification.kt
  src/main/kotlin/com/yapp/web2/domain/user/entity/Account.kt
  src/test/kotlin/com/yapp/web2/domain/folder/service/FolderServiceTest.kt
Labels: Folder

#12 [#10] feat(북마크 API)
  build.gradle.kts
  src/main/kotlin/com/yapp/web2/domain/bookmark/controller/BookmarkController.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/entity/Bookmark.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/entity/Urls.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/repository/BookmarkRepository.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkPageService.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkSearchService.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkService.kt
  src/main/kotlin/com/yapp/web2/exception/ErrorResponse.kt
  src/main/kotlin/com/yapp/web2/exception/ObjectNotFoundException.kt
  src/test/kotlin/com/yapp/web2/domain/bookmark/entity/UrlsTest.kt
  src/test/kotlin/com/yapp/web2/domain/bookmark/repository/BookmarkRepositoryTest.kt
  src/test/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkPageServiceTest.kt
  src/test/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkSearchServiceTest.kt
  src/test/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkServiceTest.kt
  src/test/kotlin/com/yapp/web2/domain/folder/service/FolderServiceTest.kt
Labels: Bookmark

#16 [#15] feat(휴지통 API)
  src/main/kotlin/com/yapp/web2/domain/bookmark/controller/TrashController.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/entity/Bookmark.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkService.kt
  src/main/kotlin/com/yapp/web2/domain/folder/controller/FolderController.kt
  src/main/kotlin/com/yapp/web2/domain/folder/service/FolderService.kt
  src/test/kotlin/com/yapp/web2/domain/bookmark/service/BookmarkServiceTest.kt
Labels: Trash

#18 [#14] feat(로그인&회원가입api)
  .gitignore
  build.gradle.kts
  src/main/kotlin/com/yapp/web2/config/JwtSecurityConfig.kt
  src/main/kotlin/com/yapp/web2/config/SecurityConfig.kt
  src/main/kotlin/com/yapp/web2/config/WebMvcConfig.kt
  src/main/kotlin/com/yapp/web2/domain/folder/controller/FolderController.kt
  src/main/kotlin/com/yapp/web2/domain/user/controller/UserController.kt
  src/main/kotlin/com/yapp/web2/domain/user/entity/Account.kt
  src/main/kotlin/com/yapp/web2/domain/user/repository/UserRepository.kt
  src/main/kotlin/com/yapp/web2/domain/user/service/UserService.kt
  src/main/kotlin/com/yapp/web2/security/jwt/JwtProvider.kt
  src/main/kotlin/com/yapp/web2/security/jwt/TokenAuthenticationFilter.kt
  src/main/kotlin/com/yapp/web2/security/jwt/TokenDto.kt
  src/test/kotlin/com/yapp/web2/BookmarkersApplicationTests.kt
Labels: User

#19 [#9] feat(폴더 API)
  src/main/kotlin/com/yapp/web2/domain/folder/controller/FolderController.kt
  src/main/kotlin/com/yapp/web2/domain/folder/entity/Folder.kt
  src/main/kotlin/com/yapp/web2/domain/folder/repository/FolderRepository.kt
  src/main/kotlin/com/yapp/web2/domain/folder/service/FolderService.kt
  src/test/kotlin/com/yapp/web2/domain/folder/service/FolderServiceTest.kt
Labels: Folder

#20 [#9] refactor(폴더)
  src/main/kotlin/com/yapp/web2/domain/account/controller/UserController.kt
  src/main/kotlin/com/yapp/web2/domain/account/entity/Account.kt
  src/main/kotlin/com/yapp/web2/domain/account/repository/UserRepository.kt
  src/main/kotlin/com/yapp/web2/domain/account/service/UserService.kt
  src/main/kotlin/com/yapp/web2/domain/bookmark/controller/BookmarkController.kt
  src/main/kotlin/com/yapp/web2/domain/folder/controller/FolderController.kt
  src/main/kotlin/com/yapp/web2/domain/folder/entity/AccountFolder.kt
  src/main/kotlin/com/yapp/web2/domain/folder/entity/Folder.kt
  src/main/kotlin/com/yapp/web2/domain/folder/repository/FolderRepository.kt
  src/main/kotlin/com/yapp/web2/domain/folder/service/FolderService.kt
  src/main/kotlin/com/yapp/web2/domain/notification/entity/Notification.kt
  src/main/kotlin/com/yapp/web2/security/jwt/JwtProvider.kt
  src/main/kotlin/com/yapp/web2/security/jwt/TokenAuthenticationFilter.kt
  src/main/resources/data.sql
  src/test/kotlin/com/yapp/web2/domain/folder/service/FolderServiceTest.kt
Labels: Folder
